body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color:white;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #38bdf8;
}

h2 {
    margin-top: 30px;
    color: #facc15;
}

ul {
    list-style-type: square;
}