body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #0f172a;
    color: white;
    margin: 0;
    padding: 20px;
    transition: all 0.3s ease;
}

.container {
    max-width: 900px;
    margin: auto;
}

button {
    padding: 8px 16px;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #38bdf8;
    color: black;
    font-weight: bold;
}

h1 {
    color: #38bdf8;
    text-shadow: 0 0 10px #38bdf8;
}

h2 {
    margin-top: 30px;
    color: #facc15;
}

ul {
    list-style-type: square;
}

/* LIGHT MODE */
.light-mode {
    background-color: white;
    color: black;
}

.light-mode h1 {
    color: #1e3a8a;
    text-shadow: none;
}

.light-mode h2 {
    color: #b45309;
}

.light-mode button {
    background-color: black;
    color: white;
}