html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #0f172a;
    color: white;
    margin: 0;
    padding: 20px;
    transition: all 0.3s ease;
}

.container {
    max-width: 900px;
    margin: auto;
}

/* BUTTON */
button {
    padding: 8px 16px;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #38bdf8;
    color: black;
    font-weight: bold;
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.05);
}

/* HEADINGS */
h1 {
    color: #38bdf8;
    text-shadow: 0 0 10px #38bdf8;
}

h2 {
    margin-top: 30px;
    color: #facc15;
}

ul {
    list-style-type: square;
}

/* HERO SECTION */
.hero {
    margin-top: 40px;
    padding: 20px;
    background-color: rgba(56, 189, 248, 0.1);
    border-radius: 12px;
}

/* CARD SECTION */
.card-section {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap; /* makes it responsive */
}

.card {
    flex: 1;
    min-width: 250px;
    padding: 20px;
    background-color: rgba(250, 204, 21, 0.1);
    border-radius: 12px;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    background-color: rgba(250, 204, 21, 0.2);
}

/* LIGHT MODE */
.light-mode {
    background-color: white;
    color: black;
}

.light-mode h1 {
    color: #1e3a8a;
    text-shadow: none;
}

.light-mode h2 {
    color: #b45309;
}

.light-mode button {
    background-color: black;
    color: white;
}

.light-mode .hero {
    background-color: rgba(30, 58, 138, 0.1);
}

.light-mode .card {
    background-color: rgba(180, 83, 9, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-betwen;
    align-items: center;
    padding: 15px;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #38bdf8;
}